<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Комменты</title>
</head>
<body>
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="comment">Comment</label>
		</br>
	    <textarea name="comment" id="messageField" cols="50" rows="10"> </textarea>

	</p>

	<p>

	    <input type="submit">

	</p>
		</br>
	<a href="/blog">Переход в блог  </a>

    </form>
</body>
</html>